.header {
  width: 100%;
  height: 10%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: -5px;
}

.title a {
  color: rgb(0, 0, 0);
  font-size: 200%;
  font-family: "Lora", serif;
  font-weight: 300;
}

.browse a,
.options a {
  color: black;
}

.browse a:hover,
.options a:hover {
  color: crimson;
}

.browse ul,
.options ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.browse ul li,
.options ul li {
  margin-left: 13px;
}

.src {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.src i {
  display: block;
  margin-right: 10px;
}

.search {
  border-radius: 4px;
  background: transparent;
  border: 1px solid grey;
  height: 1.7rem;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

::placeholder {
  padding-left: 20px;
}

.options ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options ul li i {
  margin-bottom: 5px;
}

.main,
iframe {
  width: 100%;
  height: 100vh;
}

iframe {
  border: none;
  overflow: hidden;
}
